.header {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  font-size: 18px;
  padding-top: 92px;
}

.header__menu {
  place-self: center;
  align-self: center;
}

.header__links-list {
  display: flex;
  list-style: circle;
  gap: 32px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__menu-link {
  text-decoration: none;
  border-bottom: 1px solid #000000;
}

.header__link_active {
  border-bottom: none;
}

.header__logo-image {
  max-width: 148px;
  max-height: 105px;
}

.address {
  max-width: 240px;
  justify-items: start;
  font-style: normal;
  line-height: 24.3px;
  align-self: center;
}

.header__address {
  max-width: 280px;
  justify-self: right;
  align-content: center;
  margin-right: 10px;
}

.section {
  max-width: 1440px;
  margin: auto;
}

.cover {
  max-width: 1440px;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  margin-top: 90px;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 1;
  z-index: -1;
}

.cover__title {
  gap: 20px;
  color: #fff;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  max-width: 1440px;
  display: block;
  padding-top: 165px;
  padding-left: 50px;
  line-height: 115%;
  text-transform: uppercase;
  text-align: left;
  box-sizing: content-box;
}

.aligned-text_center {
  display: block;
  text-align: center;
  letter-spacing: 30px;
  margin-top: 20px;
  margin-right: 47px;
  line-height: 100%;
  box-sizing: content-box;
}

.aligned-text_right {
  display: block;
  text-align: right;
  letter-spacing: 30px;
  margin-top: 20px;
  line-height: 100%;
  box-sizing: content-box;
  padding-right: 50px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: initial;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 82px;
  margin-top: 135px;
  margin-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  word-spacing: 17px;
}

.cover__description-text {
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
}

.bet-button {
  background: transparent;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  border: 1px #fff solid;
  padding: 12px 32px;
}

.lots {
  max-width: 1440px;
  margin: 0 auto;
}

.lots__heading {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 183px;
  margin-left: 90px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  margin: 27px 50px;
}

.lots__card-list-item {
  flex-basis: 430px;
  max-width: 430px;
  max-height: 450px;
  flex-grow: 1;
  list-style: none;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  display: flex;
  min-height: 450px;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 5;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  display: block;
  color: #fff;
  font-size: 22px;
  text-decoration-line: underline;
  text-transform: uppercase;
  line-height: 120%;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.card__text {
  display: block;
  color: #fff;
  font-size: 20px;
  line-height: 120%;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 50px;
}

.lots__look-more-link {
  display: inline-block;
  font-size: 20px;
  line-height: normal;
  text-decoration: none;
  border-bottom: 1px solid #000000;
  margin-top: 3px;
  margin-left: 90px;
}

.about {
  display: grid;
  max-width: 1340px;
  grid-template-columns: 430px 1fr;
  gap: 25px;
  margin: 0 auto;
  padding-top: 180px;
}

.about__logo {
  display: grid;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  margin: 0 95px;
  place-items: center;
}

.about__logo-image {
  display: grid;
  width: 148px;
  height: 114px;
}

.about__column {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: end;
  gap: 100px;
  padding-top: 100px;
}

.about__title {
  color: #000;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 885px;
  color: #000;
  font-size: 20px;
  line-height: normal;
}

.footer {
  display: grid;
  max-width: 1440px;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  padding: 183px 50px 90px;
  font-size: 18px;
}

.footer__menu {
  display: flex;
  place-self: center;
  align-self: start;
}

.footer__address {
  line-height: 24.3px;
  max-width: 280px;
}

.footer__menu-list {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
}

.footer__menu-link {
  text-decoration: none;
  border-bottom: 1px solid #000000;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item {
  display: flex;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}